<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        
        
        <%= @user.screenname %>
        
        
      </h2>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h2>Rooms</h2>
    <% if @rooms.any? %>
      <ul class="rooms">
        <%= render @rooms %>
      </ul>
      
    <% end %>
  </div>
</div>
