<% @user ||= current_user %>
<div class="stats">
  <a href="<%= groups_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.including_rooms.count %>
    </strong>
    Groups
  </a>
</div>
