<% provide(:title, 'New Invitation') %>
<h2>New invitation</h2>


<div>
<b>Room:</b> <%= Room.find_by_id(@invitation.room_id).room_name %><br>
<b>Invitation URL:</b>
<%= @invite_url %>
<br><br><br>
Give this invitation URL to the invitee.
</div>



